@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
}

/* mess with this stuff to change all forms! */
.popup-content {
    background: #f6f7fb;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: auto;
    border-radius: 10px;
    width: 30%;
    height: 200px;
    padding: 2px 20px;
  }

  .popup-overlay {
    background: #181818;
  }

  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  .popup-arrow {
    color:  #181818;
  }
  [role='tooltip'].popup-content {
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }



.edit-quiz-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

#edit-title{
    width: 50%;
    height: 3vh;
}
#edit-description{
    width: 50%;
    height: 3vh;
}


.new-quiz-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

#new-title{
    width: 50%;
    height: 3vh;
}
#new-description{
    width: 50%;
    height: 3vh;
}

.h4-create-new-quiz{
  color: white;
  width: 130px;
  background-color: #4255ff;
  padding: 10px;
  border-radius: 5px;
}
.h4-create-new-quiz:hover{
  transition: .5s;
  cursor: pointer;
  background-color: rgba(255, 205, 31, .6);
  color: #181818;
}
