/* TODO Add site wide styles */
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}
