.chris-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(0.25turn, #020252, #3b4c9b, #3b4c9b);
    padding: 50px;
    margin: -10px;
}

.splash-image{
    border-radius: 15px;
    height: 600px;
    width: 1000px;
}

.text-splash-area{
    background-color: rgba(219, 219, 219, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:55%;
    left: 25%;
    width: 400px;
}

.splash-description{
    word-wrap: break-word;
}
