.chris-image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(0.25turn, #020252, #3b4c9b, #3b4c9b);
    padding: 50px;
    margin: -10px;
}

.splash-image{
    border-radius: 15px;
    height: 600px;
    width: 1000px;
}

.text-splash-area{
    background-color: rgba(219, 219, 219, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:53%;
    left: 25%;
    width: 400px;
    height: 180px;
}

.splash-description{
    word-wrap: break-word;
}


/* splash page content */
.splash-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.students-who-use{
    font-size: 36px;
    color: #303545;
}

#id90em{
    background-image: url(https://assets.quizlet.com/a/j/dist/app/i/prismic/scribble.6c75e80726e3401.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 2rem;
    font-style: normal;
    font-weight: var(--typography-heading-weight);
    letter-spacing: normal;
    line-height: 1.25;
    padding: 2.1875rem;
}


.flashcards-on-area{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

.flashcards-splash-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 350px;
    margin-left: 100px;
}

#flashcard-info-h2{
    color: #303545;
    font-size: 32px;
}

#flashcard-info-p{
    color: #303545;
    font-size: 20px;
}


.jam-on-area{
    margin-top: 150px;
    display: flex;
    flex-direction: row-reverse;
}
.jam-image img{
    border-radius: 15px;
}

.jam-splash-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 350px;
    margin-right: 100px;
}

.bottom-splash-page{
    margin-bottom: -5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 50px;
    background-color: #f6f7fb;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-links{
    display: flex;
    flex-direction: row;
}
.my-links a{
    margin-left: 15px;
}
.my-links p{
    margin: 0;
    margin-right: 10px;
}
