.edit-flashcard-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

#edit-front{
    width: 50%;
    height: 3vh;
}
#edit-back{
    width: 50%;
    height: 3vh;
}


.new-flashcard-form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

#new-front{
    width: 50%;
    height: 3vh;
}
#new-back{
    width: 50%;
    height: 3vh;
}

#confirm-edit-flashcard{
    margin-top: 10px;
    padding: 10px;
    background-color: #4255ff;
    color: white;
    border-radius: 10px;
    border: none;
}

#confirm-edit-flashcard:hover{
    transition: .2s;
    cursor: pointer;
    background-color: #423ed8;
}
